.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  margin: 0 auto;
  max-width: 480px;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__accent {
  color: #2196f3;
}

.link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

.button {
  border-radius: 4px;
  height: 50px;
  width: 200px;
  border: none;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.heading {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title {
  color: #212121;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.icon {
  fill: currentColor;
}

.header {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 88px;
  }
}

@media screen and (max-width: 767px) {
  .header__mobile-menu {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 83px 48px 40px;
    overflow-y: scroll;
    z-index: 999;
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__mobile-menu--is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .header__mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__button-open {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  margin-left: auto;
  color: #212121;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header__button-open {
    display: none;
  }
}

.header__button-close {
  position: absolute;
  right: 15px;
  top: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  color: #212121;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header__button-close {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header__link--mobile {
    font-size: 40px;
    line-height: 1.18;
    color: #212121;
  }
  .header__link--mail {
    font-size: 24px;
    line-height: 1.17;
    color: #757575;
  }
  .header__link--phone {
    font-size: 34px;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__link--nav {
    color: #212121;
  }
  .header__link--current {
    color: #2196f3;
  }
  .header__link--current::after {
    position: absolute;
    top: 45px;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .header__item {
    margin-bottom: 32px;
  }
  .header__item:last-child {
    margin-bottom: 306px;
  }
}

@media screen and (min-width: 768px) {
  .header__item {
    position: relative;
  }
  .header__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 305px;
  }
}

@media screen and (max-width: 767px) {
  .header__contact {
    margin-bottom: 32px;
  }
  .header__contact:first-child {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contact:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact {
    margin: 0;
  }
  .header__contact:last-child {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .header__icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header__contacts-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts-icon {
    margin-right: 8px;
  }
}

.header__mobile-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 767px) {
  .header__mobile-links {
    display: none;
  }
}

.header__mobile-link-item {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header__mobile-link-item:first-child {
  padding-left: 0;
}

.header__mobile-link-item:last-child {
  padding-right: 0;
  border-right: none;
}

.header__mobile-link {
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
}

.header__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-2x.jpg);
  }
}

@media screen and (max-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-phone.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-phone.jpg);
  }
}

@media screen and (max-width: 481px) and (min-device-pixel-ratio: 2), screen and (max-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 481px) and (min-resolution: 192dpi), screen and (max-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-phone-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-phone-2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-tablet.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-tablet-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-tablet-2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-right: 45px;
  margin-left: 45px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    margin: 0 252px 30px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.modal__overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__overlay--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: calc(100vw - 30px);
  max-width: 450px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__overlay--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    max-width: none;
  }
}

.modal__close--button {
  position: relative;
  margin-left: calc(100% - 33px);
  margin-top: 8px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.modal__close--button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  background-image: url("../images/close-button.svg");
  background-repeat: no-repeat;
}

.modal__close--button:hover, .modal__close--button:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__form {
  margin: 2px 40px 40px;
}

.modal__title {
  margin: 0;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal__item {
  margin-bottom: 28px;
}

.modal__item:last-child {
  margin-bottom: 20px;
}

.modal__inputs {
  margin-top: 30px;
}

.modal__input {
  width: calc(100vw - 110px);
  max-width: 370px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__input:focus {
  border-color: #2196f3;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .modal__input {
    width: 448px;
    max-width: none;
  }
}

.modal__form-field {
  display: inline-block;
  position: relative;
}

.modal__icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 12px;
  color: #212121;
}

.modal__form-field:focus-within .modal__icon {
  color: #2196f3;
}

.modal__label {
  position: absolute;
  top: -15px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__textarea {
  width: calc(100vw - 110px);
  max-width: 370px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal__textarea:focus {
  border-color: #2196f3;
  outline: none;
}

.modal__textarea::-webkit-input-placeholder {
  color: #757575;
}

.modal__textarea:-ms-input-placeholder {
  color: #757575;
}

.modal__textarea::-ms-input-placeholder {
  color: #757575;
}

.modal__textarea::placeholder {
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .modal__textarea {
    width: 448px;
    max-width: none;
  }
}

.modal__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.modal__check-label {
  margin-left: 7px;
  font-size: 12px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .modal__check-label {
    font-style: 14px;
    line-height: 1.71;
  }
}

.modal__link {
  margin-left: 0.3em;
  color: #2196f3;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .modal__link {
    margin-left: 0.5em;
    font-style: 14px;
    line-height: 1.71;
  }
}

.modal__check-input {
  display: inline-block;
  height: 15px;
  width: 16px;
  background-image: url(../images/icon-not-checked.svg);
}

.modal__checkbox:checked + .modal__check-input {
  background-image: url(../images/icon-checked.svg);
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.work__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.work__card {
  position: relative;
  margin: 15px;
}

.work__thumb {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__heading {
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .features__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.features__card {
  width: calc(100vw - 30px);
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .features__card {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__card {
    width: 270px;
  }
}

.features__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100vw - 30px);
  max-width: 450px;
  height: 120px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .features__thumb {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__thumb {
    width: 270px;
    margin-top: 0;
  }
}

.features__heading {
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__heading {
    text-align: left;
  }
}

.team {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team__card {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__card {
    margin: 15px;
  }
}

.team__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team__thumb {
  width: calc(100vw - 30px);
  max-width: 450px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__thumb {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team__thumb {
    width: 270px;
  }
}

.team__heading {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team__social-links {
    padding-bottom: 30px;
  }
}

.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover, .team__social-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients__card-item {
  margin: 15px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .footer__address {
    display: block;
  }
}

.footer__paragraph {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer__paragraph {
    margin-bottom: 9px;
  }
}

.footer__link {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__link:first-child {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer__link:first-child {
    margin-bottom: 9px;
  }
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer__items {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media screen and (min-width: 768px) {
  .footer__contacts-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__column {
  margin-left: auto;
  margin-right: auto;
}

.footer__column:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.footer__column:nth-child(2) {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__column:first-child {
    display: block;
    margin-right: 70px;
    margin-bottom: 0;
  }
  .footer__column:not(:first-child) {
    margin-top: 12px;
  }
  .footer__column:last-child {
    margin-left: auto;
  }
}

.footer__heading {
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__heading {
    text-align: start;
  }
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: #44454e;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: #2196f3;
}

.footer__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 12px;
  }
}

.footer__input {
  width: calc(100vw - 30px);
  max-width: 450px;
  height: 50px;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #2f303a;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
}

.footer__button::after {
  content: '';
  height: 24px;
  width: 24px;
  display: inline-block;
  margin: 10px 0 13px 10px;
  background-image: url("../images/icon-send.svg");
}

@media screen and (min-width: 1200px) {
  .footer__button {
    margin-left: 0;
    margin-right: 0;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__buttons {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 1199px) {
  .portfolio__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__card {
    margin: 15px;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 1199px) {
  .portfolio__item:first-child {
    margin-bottom: 15px;
  }
}

.portfolio__nav {
  border-radius: 4px;
  border: none;
  height: 38px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__nav--current {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__nav:hover, .portfolio__nav:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__link {
  display: block;
  width: calc(100vw - 30px);
  max-width: 450px;
  border: 1px solid #eeeeee;
  color: #757575;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .portfolio__link {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__link {
    width: 370px;
  }
}

.portfolio__description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.portfolio__heading {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  -webkit-transform: translateY(calc(100% + 1px));
          transform: translateY(calc(100% + 1px));
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__overlay-text {
  padding: 63px 24px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
}
/*# sourceMappingURL=main.css.map */