body {
  background-color: $bgColor;
  color: $primaryTextColor;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  margin: 0 auto;
  max-width: 480px;
  padding: 0 15px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.logo {
  color: $secondaryTextColor;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__accent {
  color: $accent;
}

.link {
  color: $primaryTextColor;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  @include animated(color);

  &:hover,
  &:focus {
    color: $accent;
  }
}

.button {
  border-radius: 4px;
  height: 50px;
  width: 200px;
  border: none;

  background-color: $accent;
  color: $additionalTextColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.heading {
  color: $secondaryTextColor;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title {
  color: $secondaryTextColor;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.icon {
  fill: currentColor;
}
