.header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 48px 83px 48px 40px;

  background-color: $bgColor;
}

.header__button-close {
  position: absolute;
  right: 15px;
  top: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;

  color: $secondaryTextColor;
  background-color: transparent;
}

.header__link {
  @media screen and (max-width: 767px) {
    &--mobile {
      font-size: 40px;
      line-height: 1.18;

      color: $secondaryTextColor;
    }

    &--mail {
      font-size: 24px;
      line-height: 1.17;

      color: #757575;
    }

    &--phone {
      font-size: 34px;
      color: $accent;
    }
  }
}

.header__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 306px;
    }
  }
}

.header__contacts {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.header__contact {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;

    &:first-child {
      margin-bottom: 64px;
    }
  }
}

.header__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__mobile-links {
  display: flex;

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.header__mobile-link-item {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
    border-right: none;
  }
}

.header__mobile-link {
  font-size: 18px;
  line-height: 1.22;

  color: $accent;
}
